<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-8">
            <form class="text-center p-5" action="/send" [formGroup]="contactForm">
                <!-- (ngSubmit)="onSubmit()" -->
                <h3 class="h4 mb-4" style="text-align: left; font-weight: bold;">GET IN TOUCH</h3>
                <div class="form-row mb-4">
                    <div class="col md-form name">
                        <input mdbInput formControlName="name" name="name" type="text" id="form1" class="form-control">
                        <label for="form1" class="label">Name</label>
                    </div>

                    <div class="col md-form email">
                        <input mdbInput type="email" formControlName="email" name="email" required id="form1" class="form-control">
                            <!-- <input mdbInput pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" 
                            type="email" required id="form1" class="form-control"> -->
                        <label for="form1" class="label">Email</label>
                    </div>
                </div>

                <div class="form-row mb-4" style="margin-top: 0px !important;">
                    <div class="col md-form phone">
                        <input mdbInput formControlName="phone" name="phone" type="text" id="form1" class="form-control">
                        <label for="form1" class="label">Phone</label>
                    </div>

                    <div class="col md-form subject">
                        <input mdbInput formControlName="subject" name="subject" type="text" id="form1" class="form-control">
                        <label for="form1" class="label">Subject</label>
                    </div>
                </div>

                <div class="md-form md-outline">
                    <textarea name="message" formControlName="message" type="text" id="form75" style="height: 150px;" class="form-control md-textarea" rows="3" mdbInput></textarea>
                    <label for="form75">Message</label>
                </div>
                <div class="send_btn">
                    <button mdbBtn [disabled]="!contactForm.valid">Send</button>
                </div>
            </form>
        </div>

        <div class="col-md-4 col-sm-12 col-lg-4 cards_top">
            <!-- PHONE -->
            <div class="contact_card row">
                <div style="padding: 10px;">
                    <i class="fas fa-phone phone_icon fa-2x"></i>
                </div>
                <div style="padding: 10px;">
                    <h5>Phone</h5>
                    <div>+234 (0) 802 397 0205</div>
                    <div>+234 (0) 806 678 3130</div>
                    <!-- <div>08023970205</div> -->
                    <!-- <div>08066783130</div> -->
                </div>
            </div>
            <!-- EMAIL -->
            <div class="contact_card row">
                <div style="padding: 10px;">
                    <i class="far fa-envelope fa-2x"></i>
                </div>
                <div style="padding: 10px;">
                    <h5>Email</h5>
                    <div>info@xputertechnologies.com</div>
                </div>
            </div>
            <!-- CONTACT ADDRESS -->

            <div class="contact_card row">
                <div style="padding: 10px;">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                </div>
                <div style="padding: 10px;">
                    <h5>Contact Address</h5>
                    <div>1A, Redemption Crescent, </div>
                    <div>Gbagada Lagos.</div>
                </div>
            </div>

            <!-- SOCIAL MEDIA -->

            <div class="contact_card row">
                <div style="padding: 10px;">
                    <!-- <i class="fas fa-map-marker-alt fa-2x"></i> -->
                    <i class="fa fa-share-alt" aria-hidden="true" style="font-size: 30px;"></i>
                </div>
                <div style="padding: 10px;">
                    <h5>Social Media</h5>
                    <!-- <div>1A, Redemption Crescent, </div>
                    <div>Gbagada Lagos.</div> -->
                    <a href="https://facebook.com/" id="facebook_icon"> <i class="fab fa-facebook-f logo"></i></a>
                    <a href="https://twitter.com/" id="twitter_icon"> <i class="fab fa-twitter logo"></i></a>
                    <a href="https://linkedin.com/" id="linkedin_icon"><i class="fab fa-linkedin-in logo"></i> </a>
                </div>
            </div>
        </div>

    </div>
</div>