
<div class="ind_div hv80 desktop">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__backInLeft d-flex justify-content-end">
                <div class="card" style="width: 25rem; margin-bottom: 10px;">
                    <img src="assets/images/e-commerce.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">eCommerce</h4>
                        <p class="card-text text-center">
                            Endear as Order Management System (OMS) increased backoffice operations 
                            efficiency across online and brick and mortar stores.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn class="btn-clr2">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr2" id="demo_btn">Demo</button>
                        </div>
                    
                    </div>
                  </div>
            </div>

              <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__backInRight d-flex justify-content-start">
                <div class="card" style="width: 25rem; margin-bottom: 10px;">
                    <img src="assets/images/aftersales-dark.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">after-sales service</h4>
                        <p class="card-text text-center">
                            Customer Experience improved greatly with ease of tracking support 
                            ticket across stages and locations.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn class="btn-clr2">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr2" id="demo_btn">Demo</button>
                        </div>
               
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>

<div class="ind_div hv80 mobile">
    <div class="container">
        <div class="row">
            <div class="animate__animated animate__backInLeft">
                <div class="card" style="width: 20rem; margin-bottom: 20px;">
                    <img src="assets/images/e-commerce.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">eCommerce</h4>
                        <p class="card-text text-center">
                            Endear as Order Management System (OMS) increased backoffice operations 
                            efficiency across online and brick and mortar stores.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn class="btn-clr1">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr1" id="demo_btn1">Demo</button>
                        </div>
                    
                    </div>
                  </div>
            </div>

            <div class="animate__animated animate__backInLeft">
                <div class="card" style="width: 20rem; margin-bottom: 10px;">
                    <img src="assets/images/aftersales-dark.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">after-sales service</h4>
                        <p class="card-text text-center">
                            Customer Experience improved greatly with ease of tracking support 
                            ticket across stages and locations.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn class="btn-clr1">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr1" id="demo_btn1">Demo</button>
                        </div>
                    
                    </div>
                  </div>
            </div>

              <!-- <div class="animate__animated animate__backInRight">
                <div class="card" style="width: 20rem; margin-bottom: 10px;">
                    <img src="assets/images/aftersales-dark.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">after-sales service</h4>
                        <p class="card-text text-center">
                            Customer Experience improved greatly with ease of tracking support 
                            ticket across stages and locations.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn class="btn-clr1">Case Study</button>
                            <button mdbBtn class="btn-clr1" id="demo_btn1">Demo</button>
                        </div>
               
                    </div>
                  </div>
              </div> -->
        </div>
    </div>
</div>

<div class="desktop" style="margin-bottom: 50px; color: #38425B; text-align: center; padding: 10px;">
    <div class="container">
        <h2>
            Looking for an industry not listed?
        </h2>

        <button mdbBtn routerLink="/demo-request" class="demo_btn">Request Demo</button>

    </div>
</div>

<div class="mobile" style="color: #38425B; text-align: center; padding-right: 10px; padding-left: 10px;">
    <div class="container">
        <h4>
            Looking for an industry not listed?
        </h4>

        <button mdbBtn routerLink="/demo-request" class="demo_btn1" style="margin-bottom: 40px;">Request Demo</button>

    </div>
</div>