.footer_parent {
    background-color: #38425B;
    color: whitesmoke;
    padding: 50px;
}

.child {
    padding: 20px;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
}

.icon {
    padding: 10px;
    color: whitesmoke;
}
