<footer>
  <div class="container-fluid footer_parent text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 child">
          <i class="far fa-envelope fa-2x"></i>
            <p>info@xputertechnologies.com</p>
        </div>

        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 child">
          <i class="fas fa-phone phone_icon fa-2x"></i>
            <div>+234 (0) 806 678 3130</div>
            <div> +234 (0) 802 397 0205</div>
        </div>

        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 child">
          <i class="fas fa-map-marker-alt fa-2x"></i>
            <div>1A, Redemption Crescent,</div>
            <div>Gbagada, Lagos.</div>
        </div>

      </div>

      <div class="row bottom">
        <div class="text-center">© Xputer Technologies 2020
          <a href="https://facebook.com/Xputer-Technologies-190578217672563/"> <i class="fab fa-facebook-f icon"></i></a>
          <a href="https://twitter.com/xputertech"> <i class="fab fa-twitter icon"></i></a>
          <a href="https://linkedin.com/company/12993520"><i class="fab fa-linkedin-in icon"></i> </a>
        </div>
      </div>

    </div>
  </div>
</footer>