.img {
    width: 100%;
    height: auto;

}

#head_text {
    position: absolute;
    font-size: 40px;
    top: 300px;
    color: whitesmoke;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

#head_texts {
    position: absolute;
    top: 450px;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.banner_text {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workflow_image {
    // width: 400px;
    width: 100%;
    height: 80%;
    // padding-top: 4rem;
}

.hv80 {
    height: 80vh;
}

.bus_div {
    background-color: white;
    color: #38425B;
}
.bus_div2 {
    background-color: whitesmoke;
    color: #38425B;
}

.img-resize {
    height: 25rem;
    width: 25rem;
    border-radius: 0.5rem;
    // box-shadow: 3px 3px 3px 3px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}

.bus_col {
    padding-top: 5rem;
}

.btn-clr {
    background-color: #38425B;
    color: whitesmoke;
}

.btn-clr:hover {
    background-color: whitesmoke;
    // color: #38425B;
    color: black;
}

.btn-clr2 {
    background-color: #38425B;
    color: whitesmoke;
}

.btn-clr2:hover {
    background-color: white;
    color: black;
}

.sys_div {
    background-color: white;
    color: #38425B;
    padding-bottom: 5em;
}

#flexible_system {
    padding: 70px;
    color: #38425B;
}

#Industries {
    padding: 20px;
    color: #38425B;
}

#ax_logo, #d365_logo, #sap_logo, #magento_logo {
    width: 170px;
    height: 100px;
}

#sap_logo {
    padding-top: 40px;
}

.card-img-top {
    width: auto;
    margin: 2px;
    height: 200px;
}

.ind_div {
    background-color: whitesmoke;
    padding-bottom: 30px;
}

.card {
    // box-shadow: 0.8px 0.8px 0.8px 0.8px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}

#demo_btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

#nbplc_logo, #optionsLogo, #tdLogo {
    width: auto;
    height: 80px;
    margin: auto;
}

#t4t_logo {
    width: auto;
    height: 120px;
    margin: auto;
    
}

#max {
    max-width: 100px;
    max-height: 100px;
}

#patners_text {
    color: #38425B;
}

.mobile {
    display: none;
}
.desktop {
    display: block;
}


#right-btn {
    width: 10%;
    position: absolute;
    top: -80px;
    right: -20px;
    z-index: 1;
  }
  #left-btn {
    width: 10%;
    position: absolute;
    top: -100px;
    // left: -5rem;
    z-index: 1;
  }
  #myDIVM {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }
//   #contentM {
//     width: 150rem !important;
//   }
  .innerContent {
    float: left; 
    width: 15rem !important;
  }

  .p-relative {
      position: relative;
  }

  .categories--image {
      width: 200px;
    height: auto;
  }

  button {
      border-radius: 30px;
  }

@media screen and (max-width: 767px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    .banner_textm {
        color: whitesmoke;
        position: absolute;
        // text-align: center;
        top: 50%;
        left: 29%;
        transform: translate(-25%, -25%);
    }

    .img-resize {
        // margin: 15px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        // align-content: center;
        height: 20rem;
        width: 20rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px #ccc;
    }

    #bus_divMobile {
        // background-color: white;
        width: 100%;
        color: #38425B;
        text-align: center;
        margin-top: 15px;
        // margin-left: 15px;
        // margin-right: 15px;
        // margin-bottom: 15px;
        // padding: 30px;
    }

    .bus_col {
        color: #38425B;
        text-align: center;
        margin-top: 0px;
        // margin-left: 15px;
        // margin-right: 15px;
        // margin-bottom: 15px;
        padding: 30px;
    }

    .img-resize2 {
        margin: 30px;
        margin-top: 30px;
        align-content: center;
        height: 20rem;
        width: 20rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px #ccc;
    }

    #flexible_system {
        padding: 20px;
        color: #38425B;
    }

    .ind_div {
        background-color: whitesmoke;
        // padding-top: 20px;
        color: #38425B;
        margin: 0px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }


    #demo_btn1 {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    
    .btn-clr1 {
        background-color: #38425B;
        color: whitesmoke;
        font-size: 7px;
        padding: 10px;
        border-radius: 50px;
        // height: 30px;
    }

    .btn-clr2 {
        background-color: #38425B;
        color: whitesmoke;
        font-size: 10px;
        padding: 10px;
        border-radius: 50px;
    }

    .btn-clr2:hover {
        // background-color: #38425B;
        // color: whitesmoke;
        // font-size: 10px;
        // padding: 10px;
        // border-radius: 50px;
        color: #38425B;
    }
    

    .btn-clr1:hover {
        background-color: white;
        color: black;
    }
    
}