<!-- <div style="border: 1px solid red;"> -->

<!-- <app-header-component></app-header-component> -->

<!-- BANNER SECTION -->
    <div class="mobile">
        <div>
            <img class="img" src="assets/images/del.jpg" style="height: 100vh;">

            <div class="banner_textm">
           
                <h3 class="animate__animated animate__backInDown" style="text-align: center;">
                    Empowering fast-growing and emerging businesses with Information Technology 
                    Solutions
                </h3>
    
                <p class="animate__animated animate__backInUp" style="text-align: center;">
                    Our competence and competitive strength in IT solutions lie in our 
                    seasoned and well-qualified repertoire of professionals
                </p>
    
            </div>
        </div>
    </div>

<div class="banner desktop">
    <div>
        <img class="img" src="assets/images/del.jpg">

        <div class="banner_text">
        
            <h2 class="animate__animated animate__backInDown">
                Empowering fast-growing and emerging businesses with Information Technology 
                Solutions
            </h2>

            <p class="animate__animated animate__backInUp">
                Our competence and competitive strength in IT solutions lie in our 
                seasoned and well-qualified repertoire of professionals
            </p>

        </div>
    </div>

</div>

<!-- Business process section -->

<div class="bus_div desktop">
    <div class="container hv80 text-center d-flex justify-content-center align-items-center">
        <div class="row">
            <!-- <div class="col-md-6 col-sm-12">  -->
                <ngui-inview class="col-md-6 col-sm-12">
                    <div *ngIf> 
                        <div class="bus_col animate__animated animate__backInLeft">
                            <h3>Business process automation is our core competence</h3>
                            <p>
                                For over 15 years we have dramatically improved the competetiveness of our 
                                clients by focusing on workflow automation, system integration and analytics.
                                We are perfectly positioned to undertake software projects of any form or 
                                magnitude, all developed to world-class standards and benchmarks.
                            </p>
                            <button mdbBtn routerLink="demo-request" class="btn-clr">Contact Us</button>
                        </div>
                    </div>
                </ngui-inview>
            <!-- </div> -->

            <!-- <div class="col-md-6 col-sm-12">  -->
                <ngui-inview class="col-md-6 col-sm-12">
                    <div *ngIf> 
                        <div class="animate__animated animate__backInRight">
                            <img src="assets/images/workflow.jpg" class="img-resize">
                        </div>
                    </div>
                </ngui-inview>
            <!-- </div> -->
        </div>
    
    </div>
</div>

<div class="sec_div mobile">
    <div class="col-12 animate__animated animate__backInRight">
        <!-- <img src="assets/images/hands.jpg" class="img-resize_"> -->
    </div>

    <div id="sec_div_inner" class="col-12 bus_col animate__animated animate__backInLeft">
        <h3 >Business process automation is our core competence</h3>
        <p>
            For over 15 years we have dramatically improved the competetiveness of our 
            clients by focusing on workflow automation, system integration and analytics.
            We are perfectly positioned to undertake software projects of any form or 
            magnitude, all developed to world-class standards and benchmarks.
        </p>
        <button mdbBtn routerLink="demo-request" class="btn-clr2">Contact Us</button>
    </div> 
</div>

<!-- Flagship Workflow section -->

<div class="bus_div2 desktop">
    <div class="container hv80 text-center d-flex justify-content-center align-items-center">
        <div class="row">
            <!-- <div class="col-md-6 col-sm-12 animate__animated animate__backInRight">
                <img src="assets/images/hands.jpg" class="img-resize">
            </div> -->

            <ngui-inview class="col-md-6 col-sm-12">
                <div *ngIf> 
                    <div class="col-md-6 col-sm-12 animate__animated animate__backInLeft">
                        <img src="assets/images/hands.jpg" class="img-resize">
                    </div>
                </div>
            </ngui-inview>

            <ngui-inview class="col-md-6 col-sm-12">
                <div *ngIf> 
                    <div class="bus_col animate__animated animate__backInRight">
                        <h3>Endear our Flagship Workflow Solution</h3>
                        <p>
                            Cohesion is a vital requirement of a business eager to meet its target 
                            and achieve sustainable growth. Essential to a business of any appreciable 
                            size are systems for defining, amending and enforcing business processes. 
                            The operational arm that meets the business obligations is of great importance, 
                            while the information flow within the operations team is also critical. 
                            If these three factors fall out of sync, as they often do, profitability and 
                            sustainable growth is greatly impacted.
                        </p>
                        <button mdbBtn routerLink="/endear-page" class="btn-clr2">Features</button>
                    </div>
                </div>
            </ngui-inview>
            <!-- <div class="col-md-6 col-sm-12 bus_col animate__animated animate__backInLeft">
                <h3>Endear our Flagship Workflow Solution</h3>
                <p>
                    Cohesion is a vital requirement of a business eager to meet its target 
                    and achieve sustainable growth. Essential to a business of any appreciable 
                    size are systems for defining, amending and enforcing business processes. 
                    The operational arm that meets the business obligations is of great importance, 
                    while the information flow within the operations team is also critical. 
                    If these three factors fall out of sync, as they often do, profitability and 
                    sustainable growth is greatly impacted.
                </p>
                <button mdbBtn routerLink="/endear-page" class="btn-clr2">Features</button>
            </div> -->

            
            
        </div>
    
    </div>
</div>

<div class="bus_div2 mobile">
    <div class="col-md-12 animate__animated animate__backInRight">
        <!-- <img src="assets/images/hands.jpg" class="img-resize2"> -->
    </div>

    <div class="col-md-12 bus_col animate__animated animate__backInLeft">
        <h3>Endear our Flagship Workflow Solution</h3>
        <p>
            Cohesion is a vital requirement of a business eager to meet its target 
            and achieve sustainable growth. Essential to a business of any appreciable 
            size are systems for defining, amending and enforcing business processes. 
            The operational arm that meets the business obligations is of great importance, 
            while the information flow within the operations team is also critical. 
            If these three factors fall out of sync, as they often do, profitability and 
            sustainable growth is greatly impacted.
        </p>
        <button mdbBtn routerLink="/endear-page" class="btn-clr2">Features</button>
    </div> 
</div>

<!-- <div> 
    <ngui-inview>
        <div *ngIf> 
            
            <p class="animate__animated animate__bounce mt-5">
                Cohesion is a vital requirement of a business eager to meet its target and achieve sustainable growth. Essential to a business of any appreciable size are systems for defining, 
                amending and enforcing business processes. The operational arm that meets the business obligations is of great importance, while the information flow within the operations team is also critical. If these three factors fall out of sync, as they often do, profitability and sustainable growth is greatly impacted. 
            </p>
     </div>
 </ngui-inview> 
</div> -->

<!-- Flexible System Integration section -->

<div class="sys_div hv70 desktop">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center" id="flexible_system">
            <h3>Flexible System Integration</h3>
            <p>
                Currently out-of-the-box, Endear integrates with sales processes on SAP B1,<br> 
                Microsoft Dynamics AX 2012, Magento 2 and Dynamics 365.
            </p>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                <img src="assets/images/ax2012.png" id="ax_logo">
            </div>
            <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                <img src="assets/images/yes.png" id="d365_logo">
            </div>
            <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                <img src="assets/images/sap_logo.png" id="sap_logo">
            </div>
            <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                <img src="assets/images/MagentoLogo.png" id="magento_logo">
            </div>
        </div>
    </div>

</div>

<div class="sys_div mobile">
    <div class="col-md-12 text-center" id="flexible_system">
        <h3>Flexible System Integration</h3>
        <p>
            Currently out-of-the-box, Endear integrates with sales processes on SAP B1,<br> 
            Microsoft Dynamics AX 2012, Magento 2 and Dynamics 365.
        </p>
    </div>

    <div class="col-md-12  d-flex justify-content-center pb-2">
        <img src="assets/images/ax2012.png" id="ax_logo">
    </div>
    <div class="col-md-12 d-flex justify-content-center pt-3">
        <img src="assets/images/yes.png" id="d365_logo">
    </div>
    <div class="col-md-12 d-flex justify-content-center p-2">
        <img src="assets/images/sap_logo.png" id="sap_logo">
    </div>
    <div class="col-md-12 d-flex justify-content-center p-4">
        <img src="assets/images/MagentoLogo.png" id="magento_logo">
    </div>

</div>

<!-- Industries served section -->

<div class="ind_div hv100 desktop" style="padding-top: 20px;">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center" id="Industries">
            <h3>Industries Served</h3>
            <p>We have provided solutions for these industries and more.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
                <div class="card" style="width: 25rem; margin-bottom: 10px;">
                    <img src="assets/images/e-commerce.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">eCommerce</h4>
                        <p class="card-text text-center">
                            Endear as Order Management System (OMS) increased backoffice operations 
                            efficiency across online and brick and mortar stores.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn routerLink="/e-commerce" class="btn-clr2">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr2" id="demo_btn">Demo</button>
                        </div>
                    
                    </div>
                  </div>
            </div>

              <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                <div class="card" style="width: 25rem; margin-bottom: 10px;">
                    <img src="assets/images/aftersales-dark.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center">after-sales service</h4>
                        <p class="card-text text-center">
                            Customer Experience improved greatly with ease of tracking support 
                            ticket across stages and locations.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mdbBtn routerLink="/after-sales" class="btn-clr2">Case Study</button>
                            <button mdbBtn routerLink="/demo-request" class="btn-clr2" id="demo_btn">Demo</button>
                        </div>
               
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>


<div class="ind_div hv100 mobile">
    <div class="text-center" id="Industries">
        <h3>Industries Served</h3>
        <p>We have provided solutions for these industries and more.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
        <div class="card" style="width: 25rem; margin-bottom: 10px;">
            <img src="assets/images/e-commerce.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">eCommerce</h4>
                <p class="card-text text-center">
                    Endear as Order Management System (OMS) increased backoffice operations 
                    efficiency across online and brick and mortar stores.
                </p>
                <div class="d-flex justify-content-center">
                    <button mdbBtn routerLink="/e-commerce" class="btn-clr1">Case Study</button>
                    <button mdbBtn routerLink="/demo-request" class="btn-clr1" id="demo_btn1">Demo</button>
                </div>
            
            </div>
            </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
    <div class="card" style="width: 25rem; margin-bottom: 10px;">
        <img src="assets/images/aftersales-dark.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title text-center">after-sales service</h4>
            <p class="card-text text-center">
                Customer Experience improved greatly with ease of tracking support 
                ticket across stages and locations.
            </p>
            <div class="d-flex justify-content-center">
                <button mdbBtn routerLink="/after-sales" class="btn-clr1">Case Study</button>
                <button mdbBtn routerLink="/demo-request" class="btn-clr1" id="demo_btn1">Demo</button>
            </div>
    
        </div>
        </div>
    </div>

</div>


<div class="hv60">
    <div class="container">
        <h2 class="d-flex justify-content-center p-4" id="patners_text">Patners</h2>
    
        <div class="p-5">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/ZinoxLogo.png"></ng-template> 
                <ng-template carouselSlide><img src="assets/images/spring-xpress.png" id="tdLogo"></ng-template>
                <ng-template carouselSlide><img src="assets/images/kongaLogo.png"></ng-template> 
                <ng-template carouselSlide><img src="assets/images/t4t-logo.png" id="t4t_logo"></ng-template>
                <ng-template carouselSlide><img src="assets/images/TDlogo.png" id="tdLogo"></ng-template>  
                <ng-template carouselSlide><img src="assets/images/optionsLogo.png" id="optionsLogo"></ng-template> 
                <ng-template carouselSlide><img src="assets/images/nbplc-logo.png" id="nbplc_logo"></ng-template>  
            </owl-carousel-o>
        </div>

        <!-- <div class="mt-4 p-relative">
            <img  src="assets/images/next-arrow.png" class="py-2 px-3" id="right-btn"
              [hidden]="hiderightslider" (click)="scrollRight()"/>
            <div  id="myDIVM"> 
              <div id="contentM">
                <div class="">
                  <div *ngFor="let cat of slidesStore; let i = index"
                    class="innerContent p-3 col-lg-2 col-md-2 col-sm-12 cat--div"
                    >
                    <div *ngIf="i <= 9">
                      <img class="categories--image" src="{{ cat.src }}" alt=""/>
                      <div class="centered">
                        <p>{{ cat.name }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="py-2 px-3" id="left-btn" [hidden]="hideleftslider" (click)="scrollLeft()">left</button>
            <img src="assets/images/prev-arrow.png" class="py-2 px-3" id="left-btn"
              [hidden]="hideleftslider" (click)="scrollLeft()" />
          </div> -->
    
    </div>
</div>

<!-- <app-footer></app-footer> -->

<!-- </div> -->