.carousel_item {
    width: 18rem;
    height: 5rem;
}

.building {
    text-align: start; 
    font-size: 100px; 
    font-weight: bold;
}

.mini_div {
    padding: 30px;
    min-height: 65vh;
}

.second_row {
    margin-top: 42px;
}

.carding, .pat_logo {
    width: 150px;
    height: 70px;
    justify-content: center;
}

.major {
    margin: 0px !important;
}

.patner {
    padding: 20px;
    color: #38425B;
}

.carding {
    justify-content: center;
    padding: 0px !important;
}

.carding, .card-body {
    align-items: center;
}

.middle_img_margin {
    margin-left: 5rem;
    margin-right: 5rem;
}

#t4t-logo {
    width: 10rem;
}

#options-logo {
    width: 5rem;
}

#nbplc-logo {
    width: 5rem;
}

.partners-padding {
    padding-bottom: 4rem !important;
}

#head_text {
    position: absolute;
    font-size: 40px;
    top: 300px;
    color: whitesmoke;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.hidefirst {
    display: none;
}

.hidelater {
    display: none;
}

.hv800 {
    min-height: 95vh;
    // padding: 100px;
    width: 100%;
}

.logo {
    top: 40%;
    width: 250px;
    height: 70px;
    left: 40% !important;
    position: absolute;
    //  transition: opacity 2s linear;
}

.texts {
    top: 52%;
    position: absolute;
    left: 38%;
    font-family: Helvetica, Arial, sans-serif;
    color: #38425B;
}

#head_texts {
    position: absolute;
    top: 450px;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.banner_text {
    color: whitesmoke;
    position: absolute;
    // justify-content: center;
    left: 7%;
    text-align: center;
    top: 40%;
    padding: 0 10rem;
    font-family: Helvetica, Arial, sans-serif;
}

.carousel-relative {
    position: relative;
}

div.bg-opacity {
    opacity: .7;
    background-color: black;
    position: absolute;
    left: 0; top: 0; min-height: 100vh; width: 100%;
    // left: 0; top: 0; height: 256px; width: 256px;
}

.workflow_image {
    // width: 400px;
    width: 100%;
    height: 80%;
    // padding-top: 4rem;
}

.banner {
    min-height: 95vh;
    // height: 80vh;
}

.img-hv80 {
    // min-height: 100vh;
    height: 95vh;
}

.bus_div {
    background-color: white;
    color: #38425B;
    padding: 50px;
}
.bus_div2 {
    background-color: whitesmoke;
    color: #38425B;
    padding: 50px;
}

.card_button {
    background-color: #38425B;
    color: whitesmoke;
    padding: 10px;
    width: 120px;
}

.demo {
    width: 120px;
    padding: 10px;
}

.card_button:hover {
    background-color: whitesmoke;
    color: #38425B;
}

.info {
    line-height: 2;
}

.heading {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 25px;
}

.img-resize {
    height: 25rem;
    width: 25rem;
    border-radius: 0.5rem;
    // box-shadow: 3px 3px 3px 3px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}

.btn-clr {
    background-color: #38425B;
    color: whitesmoke;
}

.btn-clr:hover {
    background-color: whitesmoke;
    // color: #38425B;
    color: black;
}

.btn-clr2 {
    background-color: #38425B;
    color: whitesmoke;
}

.btn-clr2:hover {
    background-color: white;
    color: black;
}

.sys_div {
    background-color: white;
    color: #38425B;
    padding-bottom: 5em;
}

.flexible_system {
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    color: #38425B;
}

#Industries {
    padding: 20px;
    color: #38425B;
}

#ax_logo, #sap_logo, #magento_logo {
    width: 170px;
    height: 100px;
}

#d365_logo {
    width: 150px;
    height: 100px;
    padding-top: 30px;
}

#sap_logo {
    padding-top: 40px;
}

.card-img-top {
    width: auto;
    // width: 200px;
    margin: 2px;
    height: 200px;
}

.ind_div {
    background-color: whitesmoke;
    padding-bottom: 30px;
}

.card {
    // box-shadow: 0.8px 0.8px 0.8px 0.8px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #38425B !important;
}

#demo_btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

#nbplc_logo, #optionsLogo, #tdLogo {
    width: auto;
    height: 80px;
    margin: auto;
}

#t4t_logo {
    width: auto;
    height: 120px;
    margin: auto;
}

#max {
    max-width: 100px;
    max-height: 100px;
}

#patners_text {
    color: #38425B;
}

.mobile {
    display: none;
}
.desktop {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
}


#right-btn {
    width: 10%;
    position: absolute;
    top: -80px;
    right: -20px;
    z-index: 1;
  }
  #left-btn {
    width: 10%;
    position: absolute;
    top: -100px;
    // left: -5rem;
    z-index: 1;
  }
  #myDIVM {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }
//   #contentM {
//     width: 150rem !important;
//   }
  .innerContent {
    float: left; 
    width: 15rem !important;
  }

  .p-relative {
      position: relative;
  }

  .categories--image {
      width: 200px;
      height: auto;
  }

  button {
      border-radius: 30px;
  }

  .bis_div {
      padding: 40px;
      color: #38425B;
  }

  .build_text {
      font-size: 100px !important;
      font-weight: 700;
  }

  @media (min-width: 768px) and (max-width: 991px) {
      .build_text {
        //   line-height: 70px;
          font-size: 60px !important;
          font-weight: 700 !important;
       }
  }

@media screen and (max-width: 767px) {
    .mobile {
        display: block;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .mobile, h3 {
        font-size: 20px;
    }

    .mobile, p {
        font-size: 14px !important;
    }

    .desktop {
        display: none;
    }

    .banner_textm {
        color: whitesmoke;
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-25%, -25%);
    }

    .img-resize {
        // margin-left: 30px;
        // margin-right: 30px;
        // margin-top: 30px;
        height: 20rem;
        width: 20rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px #ccc;
    }

    #bus_divMobile {
        width: 100%;
        color: #38425B;
        text-align: center;
        margin-top: 15px;
    }

    .img-resize2 {
        margin: 30px;
        margin-top: 30px;
        align-content: center;
        height: 20rem;
        width: 20rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 3px #ccc;
    }

    #flexible_system {
        padding: 20px;
        color: #38425B;
    }

    .ind_div {
        background-color: whitesmoke;
        color: #38425B;
        margin: 0px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }


    #demo_btn1 {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    
    .btn-clr1 {
        background-color: #38425B;
        color: whitesmoke;
        font-size: 7px;
        padding: 10px;
        border-radius: 50px;
    }

    .btn-clr2 {
        background-color: #38425B;
        color: whitesmoke;
        font-size: 10px;
        padding: 10px;
        border-radius: 50px;
    }

    .btn-clr2:hover {
        color: #38425B;
    }
    
    .btn-clr1:hover {
        background-color: white;
        color: black;
    }

    .build_text {
      font-size: 50px !important;
      font-weight: 600 !important;
  }
    
}

@media (max-width: 576px) { 

    .mobile {
        display: block;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .mobile, h3 {
        font-size: 20px;
    }

    .mobile, p {
        font-size: 14px !important;
    }

    .build_text {
      font-size: 50px !important;
      font-weight: 600 !important;
    }

    .desktop {
        display: none;
    }

    .banner {
        min-height: 90vh;
    }

    .hv800 {
        min-height: 80vh;
        width: 100%;
        overflow: hidden;
        // display: none;
    }

    .hv800 h2 {
        top: 65%;
        text-align: start;
    }

    .hv800 img {
        width: 150px;
        height: 80px;
        top: 50%;
        text-align: start;
        vertical-align: top;
    }

    .img-hv80 {
        height: 90vh;
        object-fit: cover;
    }

    .banner_text {
        position: absolute;
        text-align: center;
        top: 40%;
        padding: 0 4rem;
    }

    .banner_text, h1 {
        font-size: 20px !important;
    }
    .banner_text, p {
        font-size: 12px !important;
        font-weight: 100;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .carding {
        margin:10px;
        margin-bottom: 25px;
        justify-self: center;
    }

    .carding .card-body {
        align-items: center;
    }


 }

 @media (max-width: 600px) {
     p {
         font-size: 16px !important;
     }

     .empower {
         font-size: 12px !important;
     }
 }

 @media (min-width: 768px) and (max-width: 991px) { 
    .img-resize {
        width: 20rem;
        height: 20rem;
        margin-top: 40px;
    }

    .banner_text {
        top: 30%;
    }

    .bus_div2, .bus_div  {
        padding: 20px;
    }

    .img-hv80 {
        height: 80vh;
    }

    .banner {
        min-height: 80vh;
    }

    button {
        background-color: #38425B;
        color: whitesmoke;
        padding: 10px;
        font-size: 10px;
    }

    button:hover {
        background-color: whitesmoke;
        color: #38425B;
    }

    .demo {
        width: 80px;
    }

    .mini_div {
        min-height: 40vh;
    }

 }

@media (min-width: 992px) and (hover: none) {

    .mini_div {
        min-height: 30vh;
    }

    .banner {
        min-height: 50vh;
    }

    .hv800 {
        min-height: 50vh;
    }

    .build_text {
        font-weight: 600;
        font-size: 5rem !important;
    }

    .img-hv80 {
        width: 100%;
        height: 50vh;
    }

    .banner_text {
        top: 300px;
    }

}