.mobile {
    display: none;
}
.desktop {
    display: block;
}

.img {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    // position: absolute;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
}

.eCommerce {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.demo_btn {
    background-color: whitesmoke;
    color: #38425B;
    position: absolute;
    border-radius: 30px;
    top: 42rem;
    left: 65%;
    transform: translate(-50%, -50%);
}

.demo_btn:hover {
    color: whitesmoke;
    background-color: #38425B;
}

.btnn {
    background-color: #38425B;
    color: whitesmoke;
    margin: 50px;
    border-radius: 30px;
}

.btnn:hover {
    background-color: whitesmoke;
    color: #38425B;
}


@media screen and (max-width: 767px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    .contentmb {
        padding: 20px;
    }
    
    .btnn {
        background-color: #38425B;
        color: whitesmoke;
        margin: 30px;
        border-radius: 30px;
    }
    
    .btnn:hover {
        background-color: whitesmoke;
        color: #38425B;
    }


    .the_img {
        width: 100%;
        max-height: 100vh;
        margin-top: 80px;
    }
    
    .img_div {
        position: relative;
        width: 100%;
        max-height: 100vh;
    }

    .txt {
        color: whitesmoke;
        position: absolute;
        text-align: center;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .the_btn {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: translate(-50%, -50%);
        background-color: whitesmoke;
        color: #38425B;
        border-radius: 30px;
        padding: 7px;
    }

    .the_btn:hover {
        background-color: whitesmoke;
        color: #38425B;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .content {
        padding: 0px !important;
    }

    .img {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin: 0px !important;
        padding-top: 90px;
        min-height: 60vh;
        max-height: 60vh;
    }

    .demo_btn {
        background-color: whitesmoke;
        color: #38425B;
        position: absolute;
        border-radius: 35px;
        top: 35rem;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    
}
