<!-- <img class="img" src="assets/images/e-commerce_image.jpg"> -->

<div style="background-color: whitesmoke;" class="col-md-12 col-sm-12 desktop">
    <div class="container">
        <div class="imaging">
            <img class="img" src="assets/images/e-commerce_image.jpg">
            <h3 class="eCommerce">eCommerce</h3>
            <button mdbBtn routerLink="/demo-request" class="demo_btn">Request Demo</button>
        </div>

        <div class=" content" style="color: #38425B; line-height: 30px;">
            <h3 style="text-align: center;" class="pt-5">Introduction</h3>
            <p>
                Back office operations for efficient order fulfilment process is pretty 
                complex. At Yudala, it took about four different software solutions running 
                concurrently to manage different aspect of the company’s processes. 
                Synchronizing these solutions was a big challenge until the adoption of 
                Endear.
           </p>

            <h3 style="text-align: center;" class="pt-5">Situation</h3>
            <p>
                Few of the software used by Yudala include: ERP for general business processes 
                needing access to database; Magento for the ecommerce platform/mobile apps, and 
                Sales Manager application for its physical stores. With this, it is only inherent 
                to have a decentralized system. There was always the case of information residing 
                on different platforms which have to be pulled together for effective transactions. 
                Upon adoption of Endear, all resources were pooled from the respective software, 
                making it a complete source of information. This reduced time of execution of sales.
            </p>

            <p>
                Also, there was no centralized portal to manage orders. An order goes through 
                many phases. A typical process would be: a customer places an order, Customer 
                Service confirms order details, order details is sent to warehouse for packaging, 
                account department gets notified and does relevant bookkeeping and crediting and 
                goods are passed to logistics for shipping. Without a central portal, managing an 
                order was cumbersome because at different stages, the order was on a different 
                software. With the adoption of Endear, Yudala now had a central portal to manage 
                orders. This meant that the entire ordering lifecycle could be tracked online in 
                real time on Endear.
            </p>

            <p>
                Another challenge faced by Yudala was the high cost of running the business. 
                Since it was imperative to buy licenses for users to have access to all or most 
                of the software being used, a recourse was made to Endear, which is basically 
                the source of complete information. As a result, the number of licenses bought 
                on software like ERP was drastically reduced. Customer Service personnel did not 
                need access to inventory neither did the Account department hence, similar scenarios 
                were avoided. With this solution, licenses were only bought for all personnel for 
                Endear but not for all personnel to access individual software.
            </p>

            <p>
                Prior to the adoption of Endear, tasks went unnoticed and unattended to. 
                Ignorance of assigned tasks was a common excuse given by staff. With Endear, 
                this issue was fixed as tasks are auto-assigned from desk to desk, with a 
                notification sent to the recipient and others on the escalation list..
            </p>

            <h3 style="text-align: center;" class="pt-5">Conclusion</h3>
            <p>
                Endear centrally managed the whole order process and pulled resources from 
                other software. Endear is a workflow software that is flexible and customizable, 
                thereby allowing users to design their workflow and dictate how processes are 
                managed from task to task and from person to person. Endear was successfully 
                adopted by Yudala with about 80 staff assigned to different units across different 
                locations. Endear helped the company increase productivity, cut running cost and increase efficiency
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button mdbBtn routerLink="/demo-request" class="btnn">Request Demo</button>
        </div>

    </div>
</div>




<div style="background-color: whitesmoke;" class="mobile">
    <div class="container">
        <img class="imgmb" src="assets/images/e-commerce_image.jpg">
        <h3 class="eCommerce">eCommerce</h3>
        <button mdbBtn routerLink="/demo-request" class="demo_btn_mb">Request Demo</button>
        <div class=" contentmb" style="color: #38425B; line-height: 30px;">
            <h3 style="text-align: center;" class="pt-5">Introduction</h3>
            <p>
                Back office operations for efficient order fulfilment process is pretty 
                complex. At Yudala, it took about four different software solutions running 
                concurrently to manage different aspect of the company’s processes. 
                Synchronizing these solutions was a big challenge until the adoption of 
                Endear.
            </p>

            <h3 style="text-align: center;" class="pt-5">Situation</h3>
            <p>
                Few of the software used by Yudala include: ERP for general business processes 
                needing access to database; Magento for the ecommerce platform/mobile apps, and 
                Sales Manager application for its physical stores. With this, it is only inherent 
                to have a decentralized system. There was always the case of information residing 
                on different platforms which have to be pulled together for effective transactions. 
                Upon adoption of Endear, all resources were pooled from the respective software, 
                making it a complete source of information. This reduced time of execution of sales.
            </p>

            <p>
                Also, there was no centralized portal to manage orders. An order goes through 
                many phases. A typical process would be: a customer places an order, Customer 
                Service confirms order details, order details is sent to warehouse for packaging, 
                account department gets notified and does relevant bookkeeping and crediting and 
                goods are passed to logistics for shipping. Without a central portal, managing an 
                order was cumbersome because at different stages, the order was on a different 
                software. With the adoption of Endear, Yudala now had a central portal to manage 
                orders. This meant that the entire ordering lifecycle could be tracked online in 
                real time on Endear.
            </p>

            <p>
                Another challenge faced by Yudala was the high cost of running the business. 
                Since it was imperative to buy licenses for users to have access to all or most 
                of the software being used, a recourse was made to Endear, which is basically 
                the source of complete information. As a result, the number of licenses bought 
                on software like ERP was drastically reduced. Customer Service personnel did not 
                need access to inventory neither did the Account department hence, similar scenarios 
                were avoided. With this solution, licenses were only bought for all personnel for 
                Endear but not for all personnel to access individual software.
            </p>

            <p>
                Prior to the adoption of Endear, tasks went unnoticed and unattended to. 
                Ignorance of assigned tasks was a common excuse given by staff. With Endear, 
                this issue was fixed as tasks are auto-assigned from desk to desk, with a 
                notification sent to the recipient and others on the escalation list..
            </p>


            <h3 style="text-align: center;" class="pt-5">Conclusion</h3>
            <p>
                Endear centrally managed the whole order process and pulled resources from 
                other software. Endear is a workflow software that is flexible and customizable, 
                thereby allowing users to design their workflow and dictate how processes are 
                managed from task to task and from person to person. Endear was successfully 
                adopted by Yudala with about 80 staff assigned to different units across different 
                locations. Endear helped the company increase productivity, cut running cost and increase efficiency
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button mdbBtn routerLink="/demo-request" class="btnn">Request Demo</button>
        </div>

    </div>
</div>
        