
.demo-background {
    background-image: url("../../../assets/images/bac_img.jpg"); 
    background-color: #cccccc;
    height: 72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.the_label {
    color: rgb(135, 129, 129);
}

.card {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-clr {
    background-color: #38425B;
    color: whitesmoke;
    width: 150px;
    border-radius: 30px;
    align-content: center;
}

.btn-clr:hover {
    background-color: white;
    color: #38425B;
}

.mobile {
    display: none;
}
.desktop {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 767px) {
    .mobile {
        display: block;
        background-color: white;
        margin-top: 140px; 
        margin-bottom: 30px;
        margin-right: 50px;
        margin-left: 50px;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .desktop {
        background-image: none;
        background-color: whitesmoke;
        height: 120vh;
        padding-top: 130px!important;
    }

    .card {
        padding: 40px !important;
        margin: 20px!important;
    }

    .container {
        max-width: 766px;
        padding: 0px !important;
        margin: 0px !important;
    }
}