<div class="desktop demo-background" >
    
    <div class="container" style="padding-top: 200px;">
        <div class="card">
            <h2 class="d-flex justify-content-center mt-3" style="color: #38425B;">Request Demo</h2>
            <form [formGroup]="demoForm">
                <div class="md-form" style="margin-top: 50px;">
                        <input mdbInput formControlName="name" name="name" type="text" id="form1" class="form-control">
                        <label for="form1" class="">Name</label>
                    </div>

                    <div class="row" style="margin-top: 30px; margin-bottom: 20px;">
                        <div class="col-md-6 col-sm-4 justify-content-end">
                        <label class="the_label">Your Title</label>
                            <select class="browser-default custom-select" formControlName="title" name="title">
                                <!-- <option selected disabled>Select your title</option> -->
                                <option value="1">Sales Person</option>
                                <option value="2">Manager</option>
                            </select>
                        </div>
                        
                        <div class="col-md-6 col-sm-4 justify-content-end">
                            <label class="the_label">Industry</label>
                            <select class="browser-default custom-select" formControlName="industry" name="industry">
                                <!-- <option selected disabled>Select your industry</option> -->
                                <option value="1">Public Sector</option>
                                <option value="2">Banking</option>
                                <option value="3">Health</option>
                                <option value="1">Insurance</option>
                                <option value="2">Education</option>
                                <option value="3">Trade & Distribution</option>
                                <option value="1">Manufacturing</option>
                                <option value="2">Oil & Gas</option>
                                <option value="3">Entertainment</option>
                                <option value="1">Agricuture</option>
                                <option value="2">Professional Services</option>
                                <option value="3">Architecture</option>
                                <option value="1">Law</option>
                                <option value="2">Engineering</option>
                            </select>
                        </div>
                    </div>

                    <div class="md-form" style="margin-top: 30px;">
                        <input mdbInput [(ngModel)]="contact.Email" formControlName="email" name="email" type="email" id="form1" required class="form-control">
                        <label for="form1" class="">Email Address</label>
                        <span
                            *ngIf="!controlsForm.email.valid && contact.Email"
                            class="alert text-danger extraInfo">
                            *Enter a valid Email Address
                        </span>
                    </div>

                    <div class="row">
                        <div class="md-form col-md-6 col-sm-4 justify-content-start">
                            <input mdbInput type="text" id="form1" class="form-control" formControlName="phone" name="phone">
                            <label for="form1" style="margin-left: 15px;">Phone</label>
                        </div>
                        
                        <div class="col-md-6 col-sm-4 justify-content-end">
                        <label class="the_label">Number of Staffs</label>
                            <select class="browser-default custom-select" formControlName="numOfStaffs" name="numOfStaffs">
                                <!-- <option selected disabled>Number of staffs</option> -->
                                <option value="1">1-5</option>
                                <option value="2">6-20</option>
                                <option value="3">21-50</option>
                                <option value="1">51-100</option>
                                <option value="2">101-500</option>
                                <option value="3">501-1000</option>
                                <option value="3">above 1000</option>
                            </select>
                        </div>

                    </div>

                    <div class="md-form">
                        <input mdbInput formControlName="address" name="address" type="text" id="form1" class="form-control">
                        <label for="form1" class="">Address</label>
                    </div>

                <div class="md-form md-outline">
                    <textarea type="text" formControlName="description" name="description" id="form75" style="height: 150px; margin-top: 50px;" class="form-control md-textarea" rows="3" mdbInput></textarea>
                    <label for="form75">A short description of your company's activities</label>
                </div>

                <div class="d-flex justify-content-center p-2">
                    <!-- <div class="g-recaptcha" data-siteKey="6LfgSrcZAAAAAFx7fKg9b-I5LlpMmTLgiH_wWi1p">
                    </div> -->
                    <re-captcha (resolved)="resolved($event)" siteKey="6LfgSrcZAAAAAFx7fKg9b-I5LlpMmTLgiH_wWi1p"></re-captcha>
                </div>

                <div class="d-flex justify-content-center p-3">
                    <button mdbBtn class="btn-clr" [disabled]="!demoForm.valid" (click)="sendRequest()">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>

<!-- MOBILE VIEW -->

<div class="mobile">
    <h4 class="d-flex justify-content-center" style="color: #38425B;">Request Demo</h4>
    <form [formGroup]="demoForm">
        <div class="md-form" style="margin-top: 30px;">
            <input mdbInput formControlName="name" name="name" type="text" id="form1" class="form-control">
            <label for="form1" class="">Name</label>
        </div>

        <div style="margin-top: 30px; margin-bottom: 20px;">
            <div class="justify-content-end">
            <label>Your Title</label>
                <select class="browser-default custom-select" formControlName="title" name="title">
                    <!-- <option selected disabled>Select your title</option> -->
                    <option value="1">Sales Person</option>
                    <option value="2">Manager</option>
                </select>
            </div>
            
            <div style="margin-top: 20px;">
            <label>Industry</label>
                <select class="browser-default custom-select" formControlName="industry" name="industry">
                    <!-- <option selected disabled>Select your industry</option> -->
                    <option value="1">Public Sector</option>
                    <option value="2">Banking</option>
                    <option value="3">Health</option>
                    <option value="1">Insurance</option>
                    <option value="2">Education</option>
                    <option value="3">Trade & Distribution</option>
                    <option value="1">Manufacturing</option>
                    <option value="2">Oil & Gas</option>
                    <option value="3">Entertainment</option>
                    <option value="1">Agricuture</option>
                    <option value="2">Professional Services</option>
                    <option value="3">Architecture</option>
                    <option value="1">Law</option>
                    <option value="2">Engineering</option>
                </select>
            </div>

        </div>

        <div class="md-form" style="margin-top: 30px;">
            <input mdbInput [(ngModel)]="contact.Email" formControlName="email" name="email" type="text" id="form1" class="form-control">
            <label for="form1" class="">Email Address</label>
            <span
                *ngIf="!controlsForm.email.valid && contact.Email"
                class="alert text-danger extraInfo">
                *Enter a valid Email Address
            </span>
        </div>

        <div class="md-form">
            <input mdbInput formControlName="phone" name="phone" type="text" id="form1" class="form-control">
            <label for="form1" class="phone_label">Phone</label>
        </div>
        
        <div>
            <label>Number of Staffs</label>
            <select class="browser-default custom-select" formControlName="numOfStaffs" name="numOfStaffs" style="margin-top: 0px;">
                <!-- <option selected disabled>Number of staffs</option> -->
                <option value="1">1-5</option>
                <option value="2">6-20</option>
                <option value="3">21-50</option>
                <option value="1">51-100</option>
                <option value="2">101-500</option>
                <option value="3">501-1000</option>
                <option value="3">above 1000</option>
            </select>
        </div>

        <div class="md-form">
            <input mdbInput formControlName="address" name="address" type="text" id="form1" class="form-control">
            <label for="form1" class="">Address</label>
        </div>

        <div class="md-form md-outline">
            <textarea type="text" formControlName="description" name="description" id="form75" style="height: 150px;" class="form-control md-textarea" rows="3" mdbInput></textarea>
            <label for="form75">A short description of your companies's activities</label>
        </div>

        <div class="d-flex justify-content-center p-2">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfgSrcZAAAAAFx7fKg9b-I5LlpMmTLgiH_wWi1p"></re-captcha>
        </div>

        <div class="d-flex justify-content-center p-3">
            <button style="padding: 7px;" [disabled]="!demoForm.valid" (click)="sendRequest()" mdbBtn class="btn-clr">Submit</button>
        </div>
    </form>

</div>