
<div class="mobile">
    <div>
        <img class="img" src="assets/images/endear_page_banner.png" style="height: 80vh;">

        <div class="banner_textm">
       
            <h3 class="animate__animated animate__backInDown" style="text-align: center;">
                <img src="assets/images/endearLogo.png" id="image">
            
            </h3>

            <p class="animate__animated animate__backInUp" style="text-align: center;">
                <span style="color:whitesmoke">Unifying </span> 
                <span style="color:#399dd3"> Tasks, </span> 
                <span style="color:whitesmoke"> Business, </span> 
                <span style="color:#21307b"> Processes, </span> 
                <span style="color:whitesmoke"> and User </span> 
                <span style="color:#38425b"> Interaction</span>
            </p>

        </div>
    </div>
</div>

<div class="banner desktop">
    <div>
        <img class="img" src="assets/images/endear_page_banner.png">

        <div class="banner_text">
        
            <h2 class="animate__animated animate__backInDown">
                <img src="assets/images/endearLogo.png" style="width: 150px; height: 150px;">
            </h2>

            <h4 class="animate__animated animate__backInUp">
                <span style="color:whitesmoke">Unifying </span> 
                <span style="color:#399dd3"> Tasks, </span> 
                <span style="color:whitesmoke"> Business, </span> 
                <span style="color:#21307b"> Processes, </span> 
                <span style="color:whitesmoke"> and User </span> 
                <span style="color:#38425b"> Interaction</span>
            </h4>

        </div>
    </div>

</div>

<!-- GRAPHIC WORKFLOW DESIGN -->

<div class="graph desktop">
    <div class="container"> 
            
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/graphWorkflow-light.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">GRAPHICAL WORKFLOW DESIGNER</h3>
                    <p>
                        It is one thing to have your business processes documented in an operations 
                        manual; it is another to enforce it. It is also almost practically impossible
                        to keep up with the changes required in an ever-dynamic business environment.
                        With endear workflow designer, you can design and continuously redesign your 
                        business processes and the enforcement is automatic.
                    </p>
                </div>
            </div>
        </ngui-inview>
        
    </div>
</div>

<div class="graph mobile">

    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/graphWorkflow-light.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">GRAPHICAL WORKFLOW DESIGNER</h3>
                <p style="text-align: start;">
                    It is one thing to have your business processes documented in an operations 
                    manual; it is another to enforce it. It is also almost practically impossible
                    to keep up with the changes required in an ever-dynamic business environment.
                    With endear workflow designer, you can design and continuously redesign your 
                    business processes and the enforcement is automatic.
                </p>
            </div>
        </div>
    </ngui-inview>

</div>

<!-- FORM DESIGNER -->

<div class="graph desktop" style="background-color: white;">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/forms-daesigner.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">FORM DESIGNER</h3>
                    <p style="text-align: start;">
                        Often time tasks require specific information as input which in-turn 
                        determines how each task is treated. It may come in form of customer 
                        preferences. Endear allows you capture this through a form designer. 
                        Be it numbers, text, multi-value options, images and file attachments. 
                        It also allows you to set what is required and optional. Functions that 
                        evaluates based on other values to guide decision-making is also 
                        available.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile" style="background-color: white;">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/forms-daesigner.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">FORM DESIGNER</h3>
                <p style="text-align: start;">
                    Often time tasks require specific information as input which in-turn 
                    determines how each task is treated. It may come in form of customer 
                    preferences. Endear allows you capture this through a form designer. 
                    Be it numbers, text, multi-value options, images and file attachments. 
                    It also allows you to set what is required and optional. Functions that 
                    evaluates based on other values to guide decision-making is also 
                    available.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- MESSAGING/REPORT TEMPLATES  -->

<div class="graph desktop">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/messaging_report-light.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">MESSAGING/REPORT TEMPLATES</h3>
                    <p style="text-align: start;">
                        This allows building messages as either plain text or responsive HTML. 
                        You can embed task values from specific tasks to send as specialised 
                        messages or reports for printing. Endear has a WYSIWYG editor to enable 
                        you build messages and embed values visually. Report templates are 
                        attachable to relevant stages of the workflow for printing.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/messaging_report-light.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">MESSAGING/REPORT TEMPLATES</h3>
                <p style="text-align: start;">
                    This allows building messages as either plain text or responsive HTML. 
                    You can embed task values from specific tasks to send as specialised 
                    messages or reports for printing. Endear has a WYSIWYG editor to enable 
                    you build messages and embed values visually. Report templates are 
                    attachable to relevant stages of the workflow for printing.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- ESCALATIONS SECTION -->

<div class="graph desktop" style="background-color: white;">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/escalations-dark.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">ESCALATIONS</h3>
                    <p style="text-align: start;">
                        Endear has five hooks for messaging and notification per stage, status 
                        or priority. It allows you to send messages on entry and/or on exit with 
                        three cycles of expiration messages. These messages are configurable per 
                        recipient group. It can be setup as on-screen notifications, e-mail or 
                        SMS.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile" style="background-color: white;">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/escalations-dark.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">ESCALATIONS</h3>
                <p style="text-align: start;">
                    Endear has five hooks for messaging and notification per stage, status 
                    or priority. It allows you to send messages on entry and/or on exit with 
                    three cycles of expiration messages. These messages are configurable per 
                    recipient group. It can be setup as on-screen notifications, e-mail or 
                    SMS.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- FLEXIBLE INTEGRATION SECTION -->

<div class="graph desktop">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/flexible_integration-light.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">FLEXIBLE INTEGRATION</h3>
                    <p style="text-align: start;">
                        Currently out-of-the-box Endear integrates with sales processes on 
                        SAP B1, Microsoft Dynamics AX 2012 and Magento 2. However, our form 
                        based integration architecture makes it easy to integrate with any 
                        system of choice. Wired to their respective processing stage, such 
                        integration will not disrupting the overall workflow..
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/flexible_integration-light.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">FLEXIBLE INTEGRATION</h3>
                <p style="text-align: start;">
                    Currently out-of-the-box Endear integrates with sales processes on 
                    SAP B1, Microsoft Dynamics AX 2012 and Magento 2. However, our form 
                    based integration architecture makes it easy to integrate with any 
                    system of choice. Wired to their respective processing stage, such 
                    integration will not disrupting the overall workflow.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- RULE-BASED ROUTING AND TAGGING SECTION  -->


<div class="graph desktop" style="background-color: white;">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/rule_based.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">RULE-BASED ROUTING AND TAGGING</h3>
                    <p style="text-align: start;">
                        Endear allows you to build rules based on which tasks will be assigned to 
                        stages and priorities. In addition, it is possible to tag tasks based on rules. 
                        Tags are markers that differentiates tasks based on their peculiarities. 
                        It makes it easier to visually spot tasks that fall into particular groups.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile" style="background-color: white;">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/rule_based.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">RULE-BASED ROUTING AND TAGGING</h3>
                <p style="text-align: start;">
                    Endear allows you to build rules based on which tasks will be assigned to 
                    stages and priorities. In addition, it is possible to tag tasks based on rules. 
                    Tags are markers that differentiates tasks based on their peculiarities. 
                    It makes it easier to visually spot tasks that fall into particular groups.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- ROLE AND DATA-BASED SECURITY SECTION -->

<div class="graph desktop">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/role_.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">ROLE AND DATA-BASED SECURITY</h3>
                    <p style="text-align: start;">
                        Members of staff and customers alike can have secure and restricted access to 
                        this platform. With configurable roles, you can determine operations accessible 
                        to each user group. Additionally, you can build rules around data. Ultimately, 
                        this determines data that is viewable by each user group or a specific user.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/role_.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">ROLE AND DATA-BASED SECURITY</h3>
                <p style="text-align: start;">
                    Members of staff and customers alike can have secure and restricted access to 
                    this platform. With configurable roles, you can determine operations accessible 
                    to each user group. Additionally, you can build rules around data. Ultimately, 
                    this determines data that is viewable by each user group or a specific user.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- BI/ANALYTICS SECTION -->

<div class="graph desktop" style="background-color: white;">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/bi_analytics.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">BI/ANALYTICS</h3>
                    <p style="text-align: start;">
                        Endear ships with a user profile based BI designer that allows you to design 
                        and group related charts together with respect to user groups. This serves as 
                        user dashboards that reveal key performance indicators at a glance.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile" style="background-color: white;">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/bi_analytics.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">BI/ANALYTICS</h3>
                <p style="text-align: start;">
                    Endear ships with a user profile based BI designer that allows you to design 
                    and group related charts together with respect to user groups. This serves as 
                    user dashboards that reveal key performance indicators at a glance.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- CHAT SECTION -->

<div class="graph desktop">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/chat.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">CHAT</h3>
                    <p style="text-align: start;">
                        Endear has direct messaging feature that allows for real time communication 
                        between online users. It also supports deep linking feature that enables you 
                        to discuss a task, customer, product or staff. Once you supply the code of any 
                        of these, it turns to a link that gives more detail of the supplied code.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/chat.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">CHAT</h3>
                <p style="text-align: start;">
                    Endear has direct messaging feature that allows for real time communication 
                    between online users. It also supports deep linking feature that enables you 
                    to discuss a task, customer, product or staff. Once you supply the code of any 
                    of these, it turns to a link that gives more detail of the supplied code.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- CRM WITH SOFTPHONE SECTION -->

<div class="graph desktop" style="background-color: white;">
    <div class="container">
        <ngui-inview>
            <div *ngIf class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="animate__animated animate__fadeInDown" src="assets/images/crm.png" id="graphWorkFlow">
                </div>
                <div class="col-md-9 col-sm-9 graphText animate__animated animate__fadeInUp">
                    <h3 class="text-center" style="font-weight: bold;">CRM WITH SOFTPHONE</h3>
                    <p style="text-align: start;">
                        Guarantees your access to a full history of your customer activities. 
                        Every patronage logged against the customer is easily accessible through 
                        timeline view. Additionally, Endear integrates with asterisk PBX with Web 
                        based Real Time Communication (Web RTC). This enable logging of customers’ 
                        call history.
                        Customers’ anniversaries are tracked and personalised messages can be sent on 
                        due dates of such anniversaries. Furthermore, you can set relationships between 
                        customers to aid marketing decision.
                    </p>
                </div>
            </div>
        </ngui-inview>
    </div>
</div>

<div class="graph mobile" style="background-color: white;">
    <ngui-inview>
        <div *ngIf>
            <img class="animate__animated animate__fadeInDown" src="assets/images/crm.png" id="graphWorkFlow1">

            <div class="animate__animated animate__fadeInUp">
                <h3 class="text-center" style="font-weight: bold;">CRM WITH SOFTPHONE</h3>
                <p style="text-align: start;">
                    Guarantees your access to a full history of your customer activities. 
                    Every patronage logged against the customer is easily accessible through 
                    timeline view. Additionally, Endear integrates with asterisk PBX with Web 
                    based Real Time Communication (Web RTC). This enable logging of customers’ 
                    call history.
                    Customers’ anniversaries are tracked and personalised messages can be sent on 
                    due dates of such anniversaries. Furthermore, you can set relationships between 
                    customers to aid marketing decision.
                </p>
            </div>
        </div>
    </ngui-inview>
</div>

<!-- LAST SECTION -->

<div class="desktop p-5" style="color: #38425B; background-color: #e0e0e0;">
    <div class="container">
        <div class="row">
            <ngui-inview>
                <div *ngIf class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="row p-3">
                            <div class="col-md-3 col-sm-3">
                                <img class="animate__animated animate__heartBeat" src="assets/images/mobile.png" style="width: 100px; height: 100px;">
                            </div>
                            <div class="col-md-9 col-sm-9 animate__animated animate__heartBeat">
                                <h4 class="text-center" style="font-weight: bold; text-align: center;">MOBILE FRIENDLINESS</h4>
                                <p>
                                    
                                    Endear is a Progressive Web Application; it is a mobile application 
                                    as well as a web application. It supports push notifications that 
                                    helps you catch up with information even when you are briefly offline.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="row p-3">
                            <div class="col-md-3 col-sm-3">
                                <img class="animate__animated animate__heartBeat" src="assets/images/rule_based_.png" style="width: 100px; height: 100px;">
                            </div>
                            <div class="col-md-9 col-sm-9 animate__animated animate__heartBeat">
                                <h4 class="text-center" style="font-weight: bold; text-align: center;">TASK ROUTING</h4>
                                <p>
                                    There are two modes of distributing tasks: queueing and routing. 
                                    In the queue mode, users select from a pool of tasks. Number of tasks treated 
                                    determines user efficiency. In routing mode, can also round-rob users based the 
                                    least busy to route tasks.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ngui-inview>
        </div>
    </div>
<!-- </div> -->

<!-- <div class="desktop p-5" style="color: #38425B; background-color: #e0e0e0;"> -->
    <div class="container">
        <div class="row">

            <ngui-inview>
                <div *ngIf class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="row p-3">
                            <div class="col-md-3 col-sm-3">
                                <img class="animate__animated animate__heartBeat" src="assets/images/ddd.png" style="width: 100px; height: 100px;">
                            </div>
                            <div class="col-md-9 col-sm-9 animate__animated animate__heartBeat">
                                <h4 class="text-center" style="font-weight: bold; text-align: center;">AUTO-REFRESH ANALYTICS</h4>
                                <p>
                                    Endear BI/Analytics automatically refreshes as underlining data changes. 
                                    You always get updates of KPIs.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="row p-3">
                            <div class="col-md-3 col-sm-3">
                                <img class="animate__animated animate__heartBeat" src="assets/images/eee.png" style="width: 100px; height: 100px;">
                            </div>
                            <div class="col-md-9 col-sm-9 animate__animated animate__heartBeat">
                                <h4 class="text-center" style="font-weight: bold; text-align: center;">RULED-BASED TASK TAGGING</h4>
                                <p>
                                    Tasks can be auto tagged based on rules. This makes it easy to classify and visually track tasks 
                                    based on some attributes.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ngui-inview>
            
        </div>
    </div>
</div>


<!-- MOBILE VIEW OF LAST SECTION -->

<div class="mobile tasks" style="background-color: #e0e0e0;">

    <ngui-inview>
        <div *ngIf>
            <div>
                <img src="assets/images/mobile.png" class="animate__animated animate__heartBeat" style="width: 100px; height: 100px; justify-content: end;">
            </div>
            <div class="animate__animated animate__heartBeat">
                <h4 class="text-center" style="font-weight: bold; text-align: center;">MOBILE FRIENDLINESS</h4>
                <p>
                    Endear is a Progressive Web Application; it is a mobile application 
                    as well as a web application. It supports push notifications that 
                    helps you catch up with information even when you are briefly offline.
                </p>
            </div>
        </div>
    </ngui-inview>

    <ngui-inview>
        <div *ngIf>
            <div>
                <img src="assets/images/rule_based_.png" class="animate__animated animate__heartBeat" style="width: 100px; height: 100px;">
            </div>
            <div class="animate__animated animate__heartBeat">
                <h4 class="text-center" style="font-weight: bold; text-align: center;">TASK ROUTING</h4>
                <p>
                    There are two modes of distributing tasks: queueing and routing. 
                    In the queue mode, users select from a pool of tasks. Number of tasks treated 
                    determines user efficiency. In routing mode, can also round-rob users based the 
                    least busy to route tasks.
                </p>
            </div>
        </div>
    </ngui-inview>

    <ngui-inview>
        <div *ngIf>
            <div>
                <img src="assets/images/ddd.png" class="animate__animated animate__heartBeat" style="width: 100px; height: 100px; justify-content: end;">
            </div>
            <div class="animate__animated animate__heartBeat">
                <h4 class="text-center" style="font-weight: bold; text-align: center;">AUTO-REFRESH ANALYTICS</h4>
                <p>
                    Endear BI/Analytics automatically refreshes as underlining data changes. 
                    You always get updates of KPIs.
                </p>
            </div>
        </div>
    </ngui-inview>


    <ngui-inview>
        <div *ngIf>
            <div>
                <img src="assets/images/eee.png" class="animate__animated animate__heartBeat" style="width: 100px; height: 100px;">
            </div>
            <div class="animate__animated animate__heartBeat">
                <h4 class="text-center" style="font-weight: bold; text-align: center;">RULED-BASED TASK TAGGING</h4>
                <p>
                    Tasks can be auto tagged based on rules. This makes it easy 
                    to classify and visually track tasks based on some attributes.
                </p>
            </div>
        </div>
    </ngui-inview>

</div>