<nav class="navbar navbar-expand-md navbar-light bg-light" id="heady">
  <img src="assets/images/logo.png" class="logo">
  
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a href="#" id="home_btn" class="button">Home</a>
        <a href="#" id="endear_btn" class="button">Endear</a>
        <a href="#" id="demo_btn" class="button">Request Demo</a>
      </div>
  </div>
</nav>
  