.logo {
    width: auto;
    height: 30px;
}

#home_btn, #demo_btn, #endear_btn {
    font-size: 17px;
    font-style: initial;
    color: #38425B;
    padding: 20px;
    border: none;
    outline:none;
}

#home_btn:hover, #demo_btn:hover, #endear_btn:hover {
    background-color: white;
    color: #00AFEF;
}
