.top {
    background-color: #38425B;
    height: auto;
    width: 100%;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.row {
    margin: 0px !important;
    justify-content: center;
}

.row i {
    font-size: 15px;
    padding: 5px;
}

.val {
    padding-top: 5px;
}

.phone {
    padding-right: 5px;
}

.mail {
    justify-content: end !important;
}

.phone {
    justify-content: start !important;
}

.fixed-top {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.logo {
    width: auto;
    height: 30px;
}

.logo:focus {
    outline: none;
}

#home_btn, #demo_btn, #endear_btn, #contact_btn, #service_btn {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #38425B;
    padding: 15px;
    border: none;
    outline:none;
}

.mdbNav {
    padding-bottom: 0px !important;
}

#home_btn:hover, #demo_btn:hover, #service_btn:hover, #endear_btn:hover, #contact_btn:hover {
    color: #38425B;
    border-bottom: 3px solid #38425B;
    padding-bottom: 8px !important;
    margin: 0px;   
}

#home_btn:active, #demo_btn:active, #service_btn:active, #endear_btn:active, #contact_btn:active {
    color: #38425B;
    border-bottom: 3px solid #38425B;
    padding-bottom: 8px !important;
    margin: 0px;   
}
