
<div class="main_div">
    <div class="bg-opacity"></div>
    <div class="w-100 img-absolute main">
        <div class="text">
            <h1>What We Do</h1>
        </div>
    </div>

    <div class="container">
        <div>
            <h2 style="margin-left: 30px; font-weight: bold;">Software Development</h2>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                est laborum.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                est laborum.
            </p>
            <div class="parent">
                <h4 style="font-weight: bold;">Our approach to building you an efficient software</h4>
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p> Get a brief</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p>Get Product mockup</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p> Discuss mockup with client</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p>Get your content</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p>Translate mockup into code</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p>Review software and make changes with client</p>
                    </div>
                </div>
    
                <div class="row each_list">
                    <div>
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="word">
                       <p>Host on client server</p>
                    </div>
                </div>
            </div>

            <div>
                Do you want us to build you a software? Get in touch with us today.
            </div>
            <div>
                <button mdbBtn routerLink="/contact-us" class="contact_btn">Contact Us</button>
            </div>

        </div>
    </div>
</div>
