<div style="background-color: whitesmoke;" class="col-md-12 col-sm-12 desktop">
    <div class="container">
        <div class="imaging">
            <img class="img" src="assets/images/aftersales-dark _one.jpg">
            <h3 class="eCommerce">after-sales</h3>
            <button mdbBtn routerLink="/demo-request" class="demo_btn">Request Demo</button>
        </div>
        <div class=" content" style="color: #38425B; line-height: 30px;">
            <h3 style="text-align: center;" class="pt-5">Introduction</h3>
            <p>
                Endear’s primary aim is to synergize users regardless of designation, department 
                or location. With this in mind Endear has been purposely built to scale as the 
                company grows, thereby making it a clear choice for cross-country enterprise. 
                Endear has been successfully adopted by an after-sale service company providing 
                support on behalf of OEMs (Original Equipment Manufacturers) to resellers and 
                end-users. This company is located in seven locations spread across two countries. Endear successfully managed all locations through one platform. For anonymity, the company would be referred to as TD Plus.
            </p>

            <h3 style="text-align: center;" class="pt-5">Situation</h3>
            <p>
                Having to effectively manage all locations was a big problem as these locations 
                were not only dispersed across states/provinces but also cross country. 
                Deploying different applications for each location or country was not a feasible 
                idea, this would have translated to added overhead costs and a detached system 
                across locations. With the adoption of Endear, the same platform was accessible 
                to all locations through the web application. This saved the cost of separate 
                installation.
            </p>

            <p>
                The company also had a manual method of assigning tasks for each individual 
                in different unit. One of the challenges faced with this method of assignment 
                is the decision of which engineer handles specific jobs. Some engineers specialise 
                in the repairs and troubleshooting of printers, others on laptop. There was the need
                to appropriately determine the right engineer for a specific job function and notify 
                them accordingly. With the adoption of Endear, sub–units were created in the system 
                such that, for every task.
            </p>

            <h3 style="text-align: center;" class="pt-5">Conclusion</h3>
            <p>
                Summarily, Endear was able to drastically reduce the running cost for seven 
                (7) different locations; centralizing all locations as though they were one,
                 with no location(s) serving as a Single Point of Failure (SPOOF), maximize 
                 resources from one location to another, improve efficiency and productivity 
                 of employees and increase synergy across users, locations and countries.
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button mdbBtn routerLink="/demo-request" class="btnn">Request Demo</button>
        </div>

    </div>
</div>




<div style="background-color: whitesmoke;" class="mobile">
    <div class="container">
        <img class="imgmb" src="assets/images/aftersales-dark _one.jpg">
        <h3 class="eCommerce">after-sales</h3>
        <button mdbBtn routerLink="/demo-request" class="demo_btn_mb">Request Demo</button>
        <div class=" contentmb" style="color: #38425B; line-height: 30px;">
            <h3 style="text-align: center;" class="pt-5">Introduction</h3>
            <p>
                Back office operations for efficient order fulfilment process is pretty 
                complex. At Yudala, it took about four different software solutions running 
                concurrently to manage different aspect of the company’s processes. 
                Synchronizing these solutions was a big challenge until the adoption of 
                Endear.
           </p>

            <h3 style="text-align: center;" class="pt-5">Situation</h3>
            <p>
                Having to effectively manage all locations was a big problem as these locations 
                were not only dispersed across states/provinces but also cross country. 
                Deploying different applications for each location or country was not a feasible 
                idea, this would have translated to added overhead costs and a detached system 
                across locations. With the adoption of Endear, the same platform was accessible 
                to all locations through the web application. This saved the cost of separate 
                installation.
            </p>

            <p>
                The company also had a manual method of assigning tasks for each individual 
                in different unit. One of the challenges faced with this method of assignment 
                is the decision of which engineer handles specific jobs. Some engineers specialise 
                in the repairs and troubleshooting of printers, others on laptop. There was the need
                to appropriately determine the right engineer for a specific job function and notify 
                them accordingly. With the adoption of Endear, sub–units were created in the system 
                such that, for every task.
            </p>

            <h3 style="text-align: center;" class="pt-5">Conclusion</h3>
            <p>
                Summarily, Endear was able to drastically reduce the running cost for seven 
                (7) different locations; centralizing all locations as though they were one,
                 with no location(s) serving as a Single Point of Failure (SPOOF), maximize 
                 resources from one location to another, improve efficiency and productivity 
                 of employees and increase synergy across users, locations and countries.
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button mdbBtn routerLink="/demo-request" class="btnn">Request Demo</button>
        </div>

    </div>
</div>